@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    font-family: "Helvetica";  
}


ion-icon {
    color: white;
}

* {
    box-sizing: border-box;
  
 
}
a.blog {
    color: blue;
}
.neon-red {
    color:  #FD0E35;
}

p {
    margin-bottom: 1rem;
}

h2 {
    font-size: 2rem;
  margin: 2rem 0;
}

h3 {
    font-size: 1.5rem;
    margin-bottom: 0.5rem;
    margin-top: 0.5rem;
}

ul.blog {
    margin-bottom: 2rem;
    list-style: disc;
    padding-left: 3rem;
}